@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');

/* popup component css */
.popup-con{
    position: relative;
    position: fixed;

    margin-top: 10px;
    height: 220px;
    width: 500px;

    padding: 30px;
    box-shadow: rgba(3, 101, 214, 0.589) 0px 0px 0px 3px;
    border-radius: 9px;

    background-color: white;
    cursor: text;

    display: flex;
    flex-direction: column;
}

/* popup container css */
.pop-con{
    display: flex;
    flex-direction: column;
    font-family: "alata",sans-serif;
    font-size: 15px;
    cursor: text;
    border: 1px solid rgb(201, 200, 200);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    padding: 10px 20px;
    color: rgb(24, 7, 7);
    height: 80%;
}

.pop-con:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


/* popup content css */
.popup-val{
    position: absolute;
    width: 80%;
    height: 90%;
}

/* popup modal heading css e.g: name,address */
.pop-upval{
    margin: 2px 0px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(201, 199, 199);
}

.span{
    margin-right: 3px;
}

/* popup address container css */
.add-con{
    margin:4px 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(201, 199, 199);
}

/* modal address tittle css */
.add{
    margin: 2px 0px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(201, 199, 199);
}

/* modal address value css */
.pop-con > div >span ,.add{
    font-weight: bold;
    color: rgb(120, 7, 226);
}
.add-con >div>span{
    color: rgb(5, 90, 187);
}

/* modal delete button css */
.del-btn{
    position: absolute;
    cursor: pointer;
    left: 90%;
    background-color: red;
    color: white;
    border: none;
    margin-bottom: 8px;
    height: 25px;
    width: 30px;
    font-size: 18px;
    border-radius: 7px;
}
.del-btn:hover{
    background-color: rgb(196, 4, 4);
}
